<form #addForm="ngForm" (ngSubmit)="add(addForm)" novalidate>
  <nb-card>
    <nb-card-header>Ajout Personnel</nb-card-header>
    <nb-card-body>
      <input type="text" nbInput fullWidth shape="rectangle" placeholder="Code"
       ngModel id="code" name="code">
       <input type="text" nbInput fullWidth shape="rectangle" placeholder="Nom"
        ngModel id="nom" name="nom">
      <input type="text" nbInput fullWidth shape="rectangle" placeholder="Prénom"
       ngModel id="prenom" name="prenom">
      <input type="text" nbInput fullWidth shape="rectangle" placeholder="Adresse"
       ngModel id="adresse" name="adresse">
      <input type="text" nbInput fullWidth shape="rectangle" placeholder="Téléphone"
       ngModel id="telephone" name="telephone">
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-success btn-sm float-right" style="margin-right: 5px;">
        <nb-icon [icon]="'save'" pack="eva"></nb-icon>
      </button>
      <button (click)="dismiss()" class="btn btn-danger btn-sm float-right" style="margin-right: 5px;">
        <nb-icon [icon]="'close'" pack="eva"></nb-icon>
      </button>
    </nb-card-footer>
  </nb-card>
</form>